.login_panel {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.34);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.34);
    -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.34);
    margin-top: 30px;
    max-width: 550px;
    padding: 37px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.login_page_logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.login_lock {
}
.login_lock .fa {
    background: #fff;
    border: 2px solid #e4e4e4;
    border-radius: 76px;
    padding: 13px 22px;
    text-align: center;
    color: #50CFF0;
    margin-top: 18px;
}
.login_panel h2 {
    color: #818484;
    font-weight: 300;
    margin-bottom: 19px;
}
.form-signin .input-group-addon {
    background: none repeat scroll 0 0 #fff;
    border-right: 1px solid #fff;
    color: #0C8281;
}
.form-signin .form-control {
    height: 45px;
}
.form-signin .input-group-addon {
    font-size: 16px;
}
.login_buton {
    background: #0c8281;
    color: #fff;
    border: none;
}
.login_buton:hover {
    background: #026362;
    color: #fff;
    /*box-shadow: 2px 2px 2px #9f9f9f;*/
}
.copywrite-text {
    text-align: center;
    color: #fff;
}
.logo-fix{
    padding: 0;
}